

element.style {
}
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}
user agent stylesheet
body {
    display: block;
    margin: 8px;
}
:root {
    --appwriter-link: #1f94e0